#bs-example-navbar-collapse-1 ul li a
{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    /*font-size: large;*/
}
nav {
    padding: 24px;
    font-family: Raleway;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    background-color: white;
}
.link-1 {
    transition: 0.5s ease-out;
    font-size: 20px;
    text-decoration: none;
    /*border-top: 4px solid #e7e7e7;
    border-bottom: 4px solid #e7e7e7;*/
    padding: 20px 0;
    margin: 0 8px;
}
.link-1:hover {
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
}