body
{
    display: flex;
    flex-direction: column;
}
#bs-example-navbar-collapse-1 ul li a
{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    /*font-size: large;*/
}
nav {
    padding: 24px;
    font-family: Raleway;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    background-color: white;
}
.link-1 {
    transition: 0.4s ease-out;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 20px 0;
    margin: 0 8px;
}
.link-1:hover {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
.flicker-example
{
    margin-top: -18px;
}
#about-us h1
{
    text-align: center;
    font-size: 42px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-top: 3%;
}
#large
{
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    color: #727272;
    letter-spacing: 1.2px;
    margin-top: 1%;
}
.flick-title-self {
    text-align: center;
    font-weight: 900;
    font-size: 65px;
    background-color: rgba(0,0,0,0.4);
    border-color: rgba(0,0,0,0.4);
    border-radius: 18px;
    /*font-family: 'Raleway', sans-serif;*/
    /*font-family: 'Luckiest Guy', cursive;*/
    font-family: 'Domine', serif;
    word-spacing: 4px;
    letter-spacing: 4px;
    /*color: orangered;*/
    color: white;
}
.flick-sub-text
{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}
.btn
{
    border-style: solid;
    border-color: white;
    border-radius: 0;
    font-size: 20px;
    letter-spacing: 1.2px;
}
/*.btn-default
{
    background-color: transparent;
    color: white;
}*/
