body
{
    display: flex;
    flex-direction: column;
}
#bs-example-navbar-collapse-1 ul li a
{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    /*font-size: large;*/
}
nav {
    padding: 24px;
    font-family: Raleway;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    background-color: white;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    z-index: 9999;
}
.navbar
{
    position: fixed;
    width: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    z-index: 9999
}
.link-1 {
    transition: 0.4s ease-out;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 20px 0;
    margin: 0 8px;
}
.shrink
{
    padding: 0 0;
}

.link-1:hover {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
.flicker-example
{
    margin-top: -18px;
}

#about-us h1
{
    text-align: center;
    font-size: 42px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-top: 3%;
}
#large
{
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    color: #727272;
    letter-spacing: 1.2px;
    margin-top: 1%;

}
.flick-title-self {
    text-align: center;
    font-weight: 900;
    font-size: 65px;
    background-color: rgba(0,0,0,0.4);
    border-color: rgba(0,0,0,0.4);
    border-radius: 18px;
    /*font-family: 'Raleway', sans-serif;*/
    /*font-family: 'Luckiest Guy', cursive;*/
    font-family: 'Domine', serif;
    word-spacing: 4px;
    letter-spacing: 4px;
    /*color: orangered;*/
    color: white;
}
.flick-sub-text
{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}
.btn
{
    border-style: solid;
    border-color: white;
    border-radius: 0;
    font-size: 20px;
    letter-spacing: 1.2px;
}
/*.btn-default
{
    background-color: transparent;
    color: white;
}*/
#slider-text,#finishes-section-text{
    padding-top: 40px;
    display: block;
}
#slider-text .col-md-6,#finishes-section-text .col-md-6{
    overflow: hidden;
}

#slider-text h2,#finishes-section-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 42px;
    /*letter-spacing: 3px;*/
    margin-top: 3%;
    margin-bottom: 7%;
    text-align: center;
    /*margin: 30px auto;
    padding-left: 40px;*/
}
/*#slider-text h2::after{
    !*border-top: 2px solid #c7c7c7;*!
    content: "";
    position: absolute;
    bottom: 35px;
    width: 100%;
}*/

#itemslider h4,#finishes-slider h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 10px auto 3px;
    margin-top: 4%;
}
#itemslider h5,#finishes-slider h5{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin: 3px auto 2px;
}
#itemslider h6,#finishes-slider h6{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;;
    font-size: 10px;
    margin: 2px auto 5px;
}
#finishes-slider
{
    margin-bottom: 3%;
}
.badge {
    background: #b20c0c;
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 31px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    border: 2px solid #FFF;
    box-shadow: 0 0 0 1px #b20c0c;
    top: 5px;
    right: 25%;
}
#slider-control img,#finishes-slider-control img{
    padding-top: 60%;
    margin: 0 auto;
}
@media screen and (max-width: 992px){
    #slider-control img,#finishes-slider-control img{
        padding-top: 70px;
        margin: 0 auto;
    }
}

.carousel-showmanymoveone .carousel-control {
    width: 4%;
    background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
    margin-left: 5px;
}
.carousel-showmanymoveone .carousel-control.right {
    margin-right: 5px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
    display: none;
}
@media all and (min-width: 768px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
        left: -50%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
        left: 50%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
        display: block;
    }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}
@media all and (min-width: 992px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
        left: -16.666%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
        left: 16.666%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .carousel-showmanymoveone .carousel-inner .cloneditem-3,
    .carousel-showmanymoveone .carousel-inner .cloneditem-4,
    .carousel-showmanymoveone .carousel-inner .cloneditem-5,
    .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
        display: block;
    }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(16.666%, 0, 0);
        transform: translate3d(16.666%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-16.666%, 0, 0);
        transform: translate3d(-16.666%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}

